.header {
  /* 95% of the viewport height */
  height: 20vh;
  /* stretch background colors from left to right, then diagonally to bottom..out a level and into the img folder */
  background-image: linear-gradient(
      to right bottom,
      /* use color-picker to adjust opacity to 0.8 so background image is visible. */
        hsla(111, 55%, 64%, 0.804),
      rgba(40, 180, 133, 0.808)
    ),
    url(https://images.unsplash.com/photo-1548767797-d8c844163c4c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3271&q=80);
  background-size: contain;
  /* keeps img position at top despite browser size */
  background-position: top;
  position: relative;
}

.tinderflame {
  height: 66px;
  position: absolute;
  /* top: 48px;
  left: 630px; */
  top: 18%;
  left: 41%;
  background-size: cover;
}
.heading-primary {
  color: #5603ad;
  font-size: 70px;
  text-align: center;
  padding-top: 50px;
  font-family: "Chalet", medium;
}
.heading-primary-sub {
  color: #fff;
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 10px;
  backface-visibility: hidden;
  margin-bottom: 60px;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
* {
  font-family: "Lato", sans-serif;
}

h1 {
  font-family: "Chalet", medium;
  text-align: center;
}

.yourPets {
  text-align: center;
  font-family: "Lato", sans-serif;
}
label {
  font-size: 22px;
  font-weight: bold;
  color: rgba(40, 180, 133, 0.808);
  margin: 40px;
}

.dropdown {
  font-size: 20px;
  max-width: 350px;
}

.filterSearch {
  /* position: absolute; */
  left: 50%;
  display: flex;
  flex-direction: flex;
  justify-content: center;
}

img {
  max-width: 280px;
  height: 200px;
}

.petContainer {
  display: flex;
  flex-direction: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
}

.petCard {
  background-color: white;
  /* border: 1px solid black; */
  padding: 20px;
  margin: 10px;
  max-width: 18%;
  /* margin-top: 15px;
  margin-bottom: 15px; */
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

body {
  background-color: #f7f6f0;
}

button {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.897);
  border-radius: 50%;

  border: none;
}
